<html>
	<head>
		<title>{{title}} - AutoCite</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.css') }}">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.js') }}"></script>
        
        <style>
            .main_form{
                margin-left: 10%;
                margin-right: 10%;
            }
            body{
                background-color: #e6ffff;
            }
        </style>
	</head>
	<body>
		
        <div class="main_form">
            <h2>Autocite - A Batch Citation Macine</h2>
            
            
            <form class="ui form" role="form" id="input_form">
                <div class="inline fields">
                    <label for="format">Select Citation Format:</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="format" tabindex="0" class="hidden" checked="true" value="chicago">
                            <label>Chicago</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" name="format" tabindex="0" class="hidden" value="APA">
                            <label>APA</label>
                        </div>
                    </div>
                </div>
              <div class="field">
                <label>Raw URLs</label>
                <textarea placeholder="Raw URLs" name="raw_urls"></textarea>
              </div>
            <button id="submit_urls" class="ui button" tabindex="0" type="button">Generate Citations</button>
            <button id="disabled_button" class="ui disabled button" tabindex="0" type="button">Generate Citations</button>
            </form>
            

            <form class="ui form">
                <div class="field">

                    <label>Generated Citations</label>
                    <textarea readonly id="generated_citations" placeholder="Generated Citations"></textarea>
                </div>
            </form>
            
            <div class="ui indicating progress" id="progress" data-percent="74">
                    <div class="bar"></div>
                    <div class="label" id="progress_label">Progress</div>
            </div>
        </div>        
        <script>
            $('.ui.radio.checkbox').checkbox();
            
            //alert("hello");
            var urls_done = 0;
            var citation_array = new Array(50);
            var current_printed_citation = 0;
		
	    // Helper Function to Escape HTML Special Characters When Pasting Citations to the Output Box
            function escapeHtml(unsafe) {
                return unsafe
                     .replace(/&/g, "&amp;")
                     .replace(/</g, "&lt;")
                     .replace(/>/g, "&gt;")
                     .replace(/"/g, "&quot;")
                     .replace(/'/g, "&#039;");
             }
            
            function update_citation_box(response, total_no_of_urls){
                urls_done += 1;
                
                response = JSON.parse(response);
                urlid = response["id"];
                generated_citations = response["generated_citations"];
                citation_array[urlid] = escapeHtml(generated_citations[0]);
                
                check_citation_to_print();
                // Progress Bar
                var percentage_done = (urls_done)/total_no_of_urls * 100;
                
                $("#progress_label").html("Progress: "+ percentage_done.toFixed(2) +"%");
                $("#progress").attr("data-percent", percentage_done);
                $('#progress').progress({
                  percent: percentage_done
                });
                
                if (percentage_done == 100){
                    $("#disabled_button").hide();
                    $("#submit_urls").show();
                }
                
            }
            
            // Function called after every sucessful response to visually update the output box
            // Ensures that the output citation box is ordered according to the input
            function check_citation_to_print(){
                if (citation_array[current_printed_citation] != ""){
                    $("#generated_citations").append(citation_array[current_printed_citation]);
                    current_printed_citation +=1;
                    if (current_printed_citation >= 49){
                        return;
                    }
                    check_citation_to_print();
                }
                
            }
            
            
            $(function() { //JQuery Functions that only operate after the page load 
                $("#disabled_button").hide();
                $("#progress").hide();
                $("#submit_urls").click(function() { //Run after #submit_urls is clicked
                    $("#disabled_button").show();
                    $("#submit_urls").hide();
                    $("#generated_citations").html("");
                    urls_done=0;
                    current_printed_citation = 0
                    for (var i=0; i<50; i++)citation_array[i] = "";
                    
                    console.log($('#input_form').serialize());
                    var urls = $('#input_form').serializeArray()[1].value;
                    urls = urls.split("\n");
                    urls = urls.filter(function (el){
                        return el != '\r' && el != "";
                    })
                    console.log(urls);
                    total_no_of_urls = urls.length;
                    
                    // Deal with empty input
                    if (total_no_of_urls == 0){
                        $("#disabled_button").hide();
                        $("#submit_urls").show();
                        return;
                    }
                    
                    //  Prep Progress bar
                    $("#progress").show();
                    $("#progress").attr("data-percent", 0);
                    $('#progress').progress({percent: 0});
                    $("#progress_label").html("Progress: 0%");
                    
                    // Send URLs 1 at a time
                    urls.forEach(process_url);
                    function process_url(url, index){
                        var raw_data = $('#input_form').serializeArray();
                        raw_data[1].value = url;
                        raw_data[2] = {name:"id", value:index};
                        console.log(raw_data); 
                        
                        $.ajax({
                            url: '/citation',
                            data: raw_data,
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                                update_citation_box(response,total_no_of_urls);
                
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    }
                    
                });
            });
            
        </script>
	</body>
</html>
